.App {  
  width: 100vw;
  height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* #root {
  width: 100vw;
  height: 100vh;
} */

.conteiner {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
}

.inputHex {
  background-color: white;
  width: 10em;
  height: 2em;
  color: black; 
  text-align: center;
}

.resultRgb {
  height: 2em;
  width: 8.67em;
  border: 2px solid black;
  background-color: gray;
  color: white;
  text-align: center;
  margin-top: 2px;
}